{% extends 'base.html.twig' %}

{% block title %}Créer un utilisateur{% endblock %}

{% block body %}
<div class="container mt-4 mb-5 mx-auto ">
    <h1 class="mb-4 text-center">Créer un utilisateur</h1>
    {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

    <div class="d-flex flex-column w-50 mx-auto">
        <div class="mb-3">
            {{ form_row(form.Nom, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.Prenom, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.Email, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.Adresse, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.Tel, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3 w-25">
            {{ form_row(form.save, {'attr': {'class': 'btn btn-primary w-100'}}) }}
        </div>
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}
